<!-- Footer section
================================================== -->
<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <p class="wow" data-wow-delay="0">Copyright © 2017 Bento</p>
        <!-- <ul class="social-icon wow fadeInUp" data-wow-delay="0">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-dribbble"></a></li>
          <li><a href="#" class="fa fa-behance"></a></li>
          <li><a href="#" class="fa fa-google-plus"></a></li>
        </ul> -->
      </div>

    </div>
  </div>
</footer>